<div class="container mt-4">

  <div class="card shadow-sm mb-4">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">
        {{ editing ? 'Update Product' : 'Add Product' }}
      </h5>
    </div>

    <div class="card-body">

      <form [formGroup]="productForm" (ngSubmit)="save()">

        <div class="row">

          <!-- Product Name -->
          <div class="col-md-6 mb-3">
            <label class="form-label">Product Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>

          <!-- SKU -->
          <div class="col-md-6 mb-3">
            <label class="form-label">SKU</label>
            <input type="text" class="form-control" formControlName="sku">
          </div>

          <!-- Barcode -->
          <div class="col-md-6 mb-3">
            <label class="form-label">Barcode</label>
            <input type="text" class="form-control" formControlName="barcode">
          </div>

          <!-- Cost Price -->
          <div class="col-md-6 mb-3">
            <label class="form-label">Cost Price</label>
            <input type="number" class="form-control" formControlName="costPrice">
          </div>

          <!-- Selling Price -->
          <div class="col-md-6 mb-3">
            <label class="form-label">Selling Price</label>
            <input type="number" class="form-control" formControlName="sellingPrice">
          </div>

          <!-- Unit -->
          <div class="col-md-6 mb-3">
            <label class="form-label">Unit</label>
            <input type="text" class="form-control" formControlName="unit">
          </div>

          <!-- Tax Rate -->
          <div class="col-md-6 mb-3">
            <label class="form-label">Tax Rate (%)</label>
            <input type="number" class="form-control" formControlName="taxRate">
          </div>

          <!-- Category -->
          <div class="col-md-6 mb-3">
            
            <div class="col-md-6 mb-3">
              <label class="form-label">Category Name</label>

              <select class="form-select" formControlName="categoryId">

                <option [ngValue]="null">Select Category</option>

                <option *ngFor="let category of categories" [ngValue]="category.id">

                  {{ category.name }}

                </option>

              </select>
            </div>
          </div>

          <!-- Branch -->
          <div class="col-md-6 mb-3">
            <label class="form-label">Branch</label>
            <select class="form-select" formControlName="branchId">

                <option [ngValue]="null">Select Branch</option>

                <option *ngFor="let branch of branches" [ngValue]="branch.id">

                  {{ branch.name }}

                </option>

              </select>
          </div>

        </div>

        <button type="submit" class="btn btn-success me-2">
  {{ editing ? 'Update' : 'Save' }}
</button>

<button type="button" class="btn btn-secondary" (click)="resetForm()">
  Reset
</button>

</form>

<!-- Search Box -->
<div class="card shadow-sm mb-3 mt-3">
  <div class="card-body">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchText"
      (input)="searchProduct()"
      placeholder="Search by Product Name, SKU, Category or Branch">
  </div>
</div>

  </div>
</div>

     
    </div>
  

  <div class="card shadow-sm">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">Product List</h5>
    </div>

    <div class="card-body table-responsive">

      <table class="table table-bordered table-hover">

        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>SKU</th>
            <th>Barcode</th>
            <th>Cost Price</th>
            <th>Selling Price</th>
            <th>Unit</th>
            <th>Tax %</th>
            <th>Category</th>
            <th>Branch</th>
            <th width="150">Action</th>
          </tr>
        </thead>

        <tbody>

<tr *ngFor="let product of filteredProducts">

  <td>{{ product.id }}</td>
  <td>{{ product.name }}</td>
  <td>{{ product.sku }}</td>
  <td>{{ product.barcode }}</td>
  <td>{{ product.costPrice }}</td>
  <td>{{ product.sellingPrice }}</td>
  <td>{{ product.unit }}</td>
  <td>{{ product.taxRate }}</td>
  <td>{{ product.categoryName }}</td>
  <td>{{ product.branchName }}</td>

  <td>
    <button
      class="btn btn-warning btn-sm me-2"
      (click)="edit(product)">
      Edit
    </button>

    <button
      class="btn btn-danger btn-sm"
      (click)="delete(product.id)">
      Delete
    </button>
  </td>

</tr>

</tbody>